@import "tailwindcss";

body {
  margin: 0;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Verdana', 'Arial', sans-serif;
  overflow: hidden;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
